.employee-card {
    margin-bottom: 17px;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 15px;
    height: 210px;

    @media screen and (max-width: 1200px) {
        height: 230px;
    }

    @media screen and (max-width: 980px) {
        height: 300px;
    }

    @media screen and (max-width: 445px) {
        height: 300px;
    }

    @media screen and (max-width: 431px) {
        height: 340px;
    }
    @media screen and (max-width: 390px) {
        height: 390px;
    }
}

.display-picture {
    margin-top: 20px;

    @media screen and (max-width: 431px) {
        margin-top: 10px;
    }
}

.image {
    border-radius: 50%;
    border: 3px solid #D8AA3A;
    width: 100px;
    height: 100px;

    @media screen and (max-width: 992px) {
        margin: 7px;
        width: 80px;
        height: 80px;
    }
  }

.employee-details {
    padding-top: 10px;
    padding-left: 30px;
}

.employee-full-name{
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    color: #000000;
}

.employee-role {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #1B83B1;
}

.employee-description{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(32, 43, 52, 0.8);
    padding: 0px 0px 0px 15px;

    @media screen and (max-width: 767px) {
        display: none;
    }
}

.btn-mentor {
    margin: 0px 5px 15px 5px;
    background: #D6DCE5;
    border-radius: 560px;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: #202B34;

    .mentor-text {
        padding-left: 5px;
    }

    &:hover {
        color: #000000;
        background: rgb(189, 194, 201);
    }
}

.btn-mvp {
    margin: 0px 5px 15px 5px;
    background: #D8AA3A;
    border-radius: 360px;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 22px;
    color: #202B34;

    .mentor-text {
        padding-left: 5px;
    }

    &:hover {
        color: #000000;
        background: rgb(187, 149, 50);
    }
}

.view-profile {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
}

.employee-minor-details {
    margin-right: 10px;
    float: right;

    .employee-minor-details-element {
        margin-left: 10px;
    }

    @media screen and (max-width: 445px) {
        float: center;
        margin: 0px;

        .employee-minor-details-element {
            margin: 10px 30px 0px 30px;
        }
    }

}

.employee-skills-display {

    margin-top: 25px;
    
    .employee-skill-display {
        padding: 10px 10px 0px 0px;                

        @media screen and (max-width: 450px) {
            padding: 10px 20px 0px 30px;
        }
    }

    
    .skill-name {
        text-align: right;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        color: #000000;

        @media screen and (max-width: 450px) {
            text-align: left;
        }
    }

    .employee-rating-bar{
        margin-top: auto;
        margin-bottom: auto;
    }

    .progress-bar{
        background: #1B83B1;
        border-radius: 10px;
    }

    .progress {
        height: 11px !important;
    }

}

.employee-email{
    cursor: pointer;
}

.employee-state{
    margin-left: 0px !important;
}

.employee-city{
    margin-left: 5px !important;
}

::ng-deep .mat-snack-bar-container.snack-bar-success {
    background-color: #28a745;
    color: #ffffff;
}


