<div [ngClass]="displayMoreSkills ? 'employee-card-show-more' : 'employee-card'">
    <div class="row">
        <div class="col-md-7">
            <div class="row">
                <div class="col-3 display-picture">
                    <div>
                        <img class="image mx-auto my-auto d-block" [src]="displayPicture" alt="Avatar"
                            accept="image/x-png,image/gif,image/jpeg">
                    </div>
                </div>
                <div class="col-9 employee-details">
                    <span class="employee-full-name">{{employee.fullName}}</span>
                    <span class="employee-role">{{employee.role}}</span>
                    <div class="employee-info-details">
                        <div class="employee-type">
                            <span class="employee-type-item" *ngIf="!!employee.employeeId">
                                <span *ngIf="isEmployee">
                                    <fa-icon class="slider-icon" [icon]="faUserCircle" size="lg"></fa-icon>
                                    <span class="text">Employee</span>
                                </span>
                                <span *ngIf="!isEmployee">
                                    <fa-icon class="slider-icon" [icon]="faUserCircle" size="lg"></fa-icon>
                                    <span class="text">Contractor</span>
                                </span>
                            </span>
                            <span class="employee-location employee-type-item"
                                *ngIf="!!employee.city || !!employee.state">
                                <fa-icon class="slider-icon" [icon]="faMap" size="md"></fa-icon>
                                <span *ngIf="!!employee.city" class="employee-city">{{employee.city}}</span>
                                <span *ngIf="!!employee.state" class="employee-state">, {{employee.state}}</span>
                                <span *ngIf="!!employee.country"> ({{employee.country}})</span>
                            </span>
                        </div>
                    </div>
                    <!-- <div class="col-5">
                            <div class="row">
                                <button type="button" class="btn btn-mentor" matTooltip="Feature Coming Soon..."
                                    matTooltipPosition="above">
                                    <fa-icon class="slider-icon" [icon]="faUserCircle" size="lg"></fa-icon>
                                    <span class="mentor-text">Mentor</span>
                                </button>
                                <button type="button" class="btn btn-mvp">
                                    <fa-icon class="slider-icon" [icon]="faTrophy" size="md"></fa-icon>
                                    <span class="mentor-text">MVP</span>
                                </button>
                            </div>
                        </div> -->

                    <div class="row employee-description">
                        <p *ngIf="!!employee.roleDescription" matTooltip="{{employee.roleDescription}}"
                            matTooltipPosition="right">{{employee.roleDescription | truncate:180:"..."}}</p>
                    </div>
                    <!-- Hiding View profile until view profile page is ready -->
                    <!-- <button type="button" (click)="goToProfile(employee.resourceId)"
                        class="btn btn-outline-secondary view-profile">View Profile</button> -->
                </div>
            </div>
        </div>
        <div class="col-md-5 employee-skills">
            <div class="row employee-minor-details">
                    <span class="employee-minor-details-element">
                        <fa-icon class="slider-icon" [icon]="faCheckCircle" size="md"
                            [styles]="{'stroke': '#17CB6A', 'color': '#17CB6A'}"></fa-icon>
                        <strong> {{!employee.onProject ? employee.onBenchReason : employee.resourceStatus}}</strong>
                    </span>
                    <span class="employee-email employee-minor-details-element" matTooltip="Click to copy Email" matTooltipPosition="right"
                        (click)="copyEmailToClipboard(employee.email)">
                        <fa-icon class="slider-icon" [icon]="faEnvelope" size="md"></fa-icon>
                        Email
                    </span>
            </div>
            <div class="employee-skills-display">
                <div class="row employee-skill-display" *ngFor="let employeeSkill of displayEmployeeSkills">
                    <div class="col-md-6 skill-name" matTooltip="{{employeeSkill.textName}}" matTooltipPosition="right">
                        <span>{{employeeSkill.textName | truncate:21:"..."}}</span>
                    </div>
                    <div class="col-md-6 employee-rating-bar">
                        <div class="progress" matTooltip="Self Rating: {{employeeSkill.skillRating}}/5"
                            matTooltipPosition="right">
                            <div class="progress-bar" role="progressbar" [style.width.%]="employeeSkill.skillRating*20"
                                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <!-- <div *ngIf="employee.resourceSkills.length > displayEmployeeSkillCount && displayEmployeeSkills.length <= displayEmployeeSkillCount"
                    class="employee-skills-view-more d-flex flex-row-reverse">
                    <span class="btn-view-more-skills" (click)="showMoreSkills()">
                        <fa-icon class="slider-icon" [icon]="faChevronDown" size="sm"></fa-icon>
                        Show More
                    </span>
                </div>

                <div *ngIf="employee.resourceSkills.length > displayEmployeeSkillCount && displayEmployeeSkills.length > displayEmployeeSkillCount"
                    class="employee-skills-view-more d-flex flex-row-reverse">
                    <span class="btn-view-more-skills" (click)="showLessSkills()">
                        <fa-icon class="slider-icon" [icon]="faChevronUp" size="sm"></fa-icon>
                        Show Less
                    </span>
                </div> -->
            </div>
        </div>
    </div>
    <div class="row employee-certifications">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <div class="employee-cert" *ngIf="employee.resourceCertifications.length >= 1">
                <p>CERTIFICATIONS</p>
                <span class="cert-list"
                    *ngFor="let cert of employee.resourceCertifications.slice(0,3); let i = index;">{{cert.certificationName}}</span>
            </div>
        </div>
    </div>
    <div class="row view-profile">
        <div class="col-md-6 offset-md-3">
                <span class="btn-view-more-skills" (click)="goToProfile(employee.resourceId)">
                        <fa-icon class="slider-icon" [icon]="faChevronDown" size="sm"></fa-icon>
                        View Profile
                </span>
        </div>
    </div>
</div>