<div class="employee-card">
    <!-- {{employee | json}} -->
    <div class="row">
        <div class="col-md-7">
            <div class="row">
                <div class="col-2 display-picture">
                    <div class="image">
                        <img src="../../../../assets/avatars/male.png" alt="{{employee.gender}} Avatar">
                    </div>
                </div>
                <div class="col-1"></div>
                <div class="col-9 employee-details">
                    <div class="row">
                        <div class="col-5">
                            <span class="employee-full-name">{{employee.fullName}}</span><br>
                            <span class="employee-role">{{employee.primarySkill}}</span>
                        </div>
                        <div class="col-7">
                            <div class="row">
                                <button type="button" class="btn btn-mentor">
                                    <fa-icon class="slider-icon" [icon]="faUserCircle" size="lg"></fa-icon>
                                    <span class="mentor-text">Mentor</span>
                                </button>
                                <button type="button" class="btn btn-mvp">
                                    <fa-icon class="slider-icon" [icon]="faTrophy" size="md"></fa-icon>
                                    <span class="mentor-text">MVP</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row employee-description">
                        <p >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur quidem obcaecati velit
                            sequi ipsam consequatur, distinctio ut?</p>
                    </div>
                    <button type="button" class="btn btn-outline-secondary view-profile">View Profile</button>
                </div>
            </div>
        </div>
        <div class="col-md-5 employee-skills">
            <div class="row employee-minor-details">
                <span *ngIf="true">
                    <fa-icon class="slider-icon" [icon]="faCheckCircle" size="md"
                        [styles]="{'stroke': '#17CB6A', 'color': '#17CB6A'}"></fa-icon>
                    <strong> Available for Assignment</strong>
                </span>
                <span>
                    <fa-icon class="slider-icon" [icon]="faMap" size="md"></fa-icon>
                    {{employee.siteCity}}, {{employee.siteState}}
                </span>
                <span>
                    <fa-icon class="slider-icon" [icon]="faEnvelope" size="md"></fa-icon>
                    Email Invite
                </span>
            </div>
            <div class="employee-skills-display">
                <div class="row employee-skill-display" *ngFor="let employeeSkill of employee.employeeSkills">
                    <div class="col-5"><span class="skill-name">{{employeeSkill.skillName}}</span></div>
                    <div class="col-7 employee-rating-bar">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" [style.width.%]="employeeSkill.skillRating*20"  aria-valuenow="25"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                    <!-- {{employeeSkill.skillRating}} -->
                </div>
            </div>
        </div>
    </div>
</div>



<!-- 
            {{employee.employeeStatus}}
            {{employee.siteCity}}
            {{employee.siteState}}
            {{employee.primaryEmailAddress}}
            {{employee.skills}}
 -->


<!-- employee title not available -->
<!-- {{employee.reportsTo}} It is string it should be an ID  -->
<!-- {{employee.isMvp}} not available in response -->
<!-- need enum to loop through different employeeStatus -->
<!-- not available in response employee skills -->
<!-- profile picture ??
employee description ??
Deployment & AuthN with outlook
-->