<div class="employee-experience" *ngIf="description || projects.length > 0">
        <div class="employee-about" *ngIf="description">
                <h1>About</h1>
                <p>{{description}}</p>
        </div>
        <div class="employee-projects" *ngIf="projects.length > 0">
                <h1>Experience</h1>
                <div class="employee-project" *ngFor="let project of projects">
                        <div class="row">
                                <div class="col-md-10">
                                        <h2>{{project.projectMaster.accountName}}</h2>
                                        <p>{{project.projectMaster.projectName}}
                                                <span
                                                        *ngIf="project.projectMaster.account.industryNavigation.industryName !== 'Missing'">
                                                        &nbsp; | &nbsp;
                                                        {{project.projectMaster.account.industryNavigation.industryName}}</span>

                                        </p>
                                </div>
                                <div class="col-md-2">
                                        <button *ngIf="isActive(project.resourceEndDate)" type="button"
                                                class="btn btn-project-active btn-status">
                                                <span class="mentor-text">Active</span>
                                        </button>
                                        <button *ngIf="!isActive(project.resourceEndDate)" type="button"
                                                class="btn btn-project-completed btn-status">
                                                <span class="mentor-text">Complete</span>
                                        </button>
                                </div>
                        </div>
                        <div class="row employee-project-location">
                                <div class="col-md-3">
                                        <div class="row">
                                                <div class="col-1">
                                                        <fa-icon class="slider-icon" [icon]="faMapMarkerAlt" size="md">
                                                        </fa-icon>
                                                </div>
                                                <div class="col-10">
                                                        <span class="employee-info-key">Location: </span>
                                                        {{project.projectMaster.location}}
                                                </div>
                                        </div>
                                </div>
                                <div class="col-md-3" *ngIf="project.resourceStartDate">
                                        <div class="row">
                                                <div class="col-1">
                                                        <fa-icon class="slider-icon" [icon]="faCalendar" size="md">
                                                        </fa-icon>
                                                </div>
                                                <div class="col-10">
                                                        <span class="employee-info-key">Start Date: </span>
                                                        {{project.resourceStartDate | date : 'mediumDate'}}
                                                </div>
                                        </div>
                                </div>
                                <div class="col-md-3" *ngIf="project.resourceEndDate">
                                        <div class="row">
                                                <div class="col-1">
                                                        <fa-icon class="slider-icon" [icon]="faCalendar" size="md">
                                                        </fa-icon>
                                                </div>
                                                <div class="col-10">
                                                        <span class="employee-info-key">End Date: </span>
                                                        {{project.resourceEndDate | date : 'mediumDate'}}
                                                </div>
                                        </div>
                                </div>
                                <div class="col-md-3" *ngIf="project.role">
                                        <div class="row">
                                                <div class="col-1">
                                                        <fa-icon class="slider-icon" [icon]="faUserCircle" size="md">
                                                        </fa-icon>
                                                </div>
                                                <div class="col-10">
                                                        <span class="employee-info-key">Role: </span>
                                                        {{project.role}}
                                                </div>
                                        </div>
                                </div>
                        </div>
                        <hr>
                </div>
        </div>
        <div *ngIf="certifications.length > 0">
                <h1>Certifications</h1>
                <span class="employee-certificate"
                        *ngFor="let certificate of certifications">{{certificate.certification.certificationName}}
                        <br></span>
        </div>
</div>