<div class="search">
    <div class="title" id="title">
        <div class="row">
            <div class="col-8">
                <h1>Employee Search</h1>
            </div>
            <div class="col-4">
                <div *ngIf="isMobile" class="slider" (click)="toggleSearch()">
                    <fa-icon class="slider-icon" [icon]="faSlidersH" size="lg"></fa-icon>
                    <span class="slider-icon-text">Filter</span>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!isMobile || toggleSearchForm" class="search-criteria">
        <form #searchEmployeeForm="ngForm"
            (keydown.enter)="$event.preventDefault()"
            (ngSubmit)="searchEmployees(searchEmployeeForm.value);">
            <div class="row">
                <div class="col-lg-3">
                    <!-- <input #skill (keydown.enter)="addSkill(skill.value); skill.value = ''" name="searchSkill" type="text" class="form-control search-input form-input" id="search-skill"
                        placeholder="Search by skill(s)" autocomplete="off" ngModel> -->
                    <app-search-skill-input (searchSkillEvent)="skillMessage($event)"></app-search-skill-input>
                </div>
                <div class="col-lg-2">
                    <!-- <input name="employeeName" type="text" class="form-control search-input" id="search-name"
                        placeholder="Search by name" autocomplete="off" ngModel> -->
                    <app-search-name-input (searchNameEvent)="nameMessage($event)"></app-search-name-input>    
                </div>
                <div class="col-lg-5">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="btn-group">
                                <mat-form-field>
                                    <mat-label class="custom-mat-label">Availability</mat-label>
                                    <mat-select name="availability" ngModel>
                                        <mat-option value="true">Available</mat-option>
                                        <mat-option value="true">Partial Available</mat-option>
                                        <mat-option value="false">Not Available</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="btn-group">
                                <mat-form-field>
                                    <mat-label class="custom-mat-label">Role</mat-label>
                                    <mat-select name="role" ngModel>
                                        <mat-option *ngFor="let role of roles" value="{{role}}">{{role}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="btn-group">
                                <mat-form-field>
                                    <mat-label class="custom-mat-label">Location</mat-label>
                                    <mat-select name="location" ngModel>
                                        <mat-option *ngFor="let location of locations" value="{{location}}">{{location}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <button type="submit" class="btn search-filter">Filter Results</button>
                </div>
            </div>
            <div class="row">
                <div class="skills">
                    <mat-chip-list>
                        <mat-chip *ngFor="let skill of searchSkills; let i = index;">
                            {{skill}}
                            <fa-icon class="slider-icon remove-skill" [icon]="faTimes" size="sm"
                                (click)="removeSkill(i)"></fa-icon>
                        </mat-chip>
                    </mat-chip-list>
                </div>
            </div>
        </form>
    </div>
</div>