.employee-skills {
  background: #ffffff;
  border-radius: 5px;
  padding: 25px;
}

.employee-skills-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  color: #202b34;
}

.employee-skill-name {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
  margin: 0;
  padding-bottom: 5px;
}

.progress-bar{
    background: #1B83B1;
    border-radius: 10px;
}

.progress {
    height: 11px !important;
    margin-bottom: 10px;
}

