$small-screen: 370px;
$medium-screen: 500px;

.employee-profile {
  background: url(../../../../assets/images/employee-profile-bg.png) no-repeat;
  background-size: 100% 30vh, cover;
  height: 100%;

  @media screen and (max-width: $medium-screen) {
    background-size: 100% 25vh, cover;
  }

  @media screen and (max-width: $small-screen) {
    background-size: 100% 23vh, cover;
  }
}

.employee-details {
  margin: 0 5%;
}

.employee-profile-cards {
  margin: 10px;
}