$small-screen: 500px;

.employee-profile {
  background: url(../../../../assets/images/employee-profile-bg.png) no-repeat;
  background-size: 100% 30%, cover;
  height: 100%;

  @media screen and (max-width: $small-screen) {
    background-size: 100% 20%, cover;
  }
}

.employee-details {
  margin: 0 5%;
}

.employee-profile-cards {
  margin: 10px;
}