<div class="container-fluid">
    <div class="row employee-hero">
        <div class="col-md-3">
            <div class="display-picture">
                <img class="image mx-auto my-auto d-block" [src]="displayPicture" alt="Avatar"
                    accept="image/x-png,image/gif,image/jpeg">
            </div>
        </div>
        <div class="col-md-9">
            <div class="employee-general">
                <h1>{{employeeHeroDetails.fullName}}</h1>
                <h4>{{employeeHeroDetails.roleName}} {{ isEmployee ? '(Employee)' : '(Contractor)'}}</h4>
                <!-- <div class="employee-buttons">
                    <button *ngIf="employeeHeroDetails.isMvp" type="button" class="btn btn-mvp">
                        <fa-icon class="slider-icon" [icon]="faTrophy" size="md"></fa-icon>
                        <span class="mentor-text">MVP</span>
                    </button>
                    <button type="button" class="btn btn-mentor" matTooltip="Feature Coming Soon..."
                        matTooltipPosition="above">
                        <fa-icon class="slider-icon" [icon]="faUserCircle" size="lg"></fa-icon>
                        <span class="mentor-text">Mentor</span>
                    </button>
                </div> -->
            </div>
        </div>
    </div>
</div>