<form class="example-form" #pocForm (submit)="pocForm.reset()">
    <mat-form-field class="example-full-width">
        <input type="text" #searchSkillInput placeholder="Search by skills" matInput [formControl]="myControl"
            [matAutocomplete]="skills" (keyup.enter)="log(myControl.value); searchSkillInput.value=''">
        <mat-autocomplete autoActiveFirstOption #skills="matAutocomplete">
            <mat-option #poc *ngFor="let option of filteredOptions | async" [value]="option"
                (onSelectionChange)="log(option); poc.value=''">
                {{option}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>