<form #searchNameForm>
    <mat-form-field>
        <input type="text" #searchNameInput placeholder="Search by name" matInput [formControl]="myControl"
            [matAutocomplete]="name" (change)="handleEmptyInput($event)">
        <mat-autocomplete autoActiveFirstOption #name="matAutocomplete">
            <mat-option #searchName *ngFor="let option of filteredOptions | async" [value]="option"
                (onSelectionChange)="log(option)" matTooltip="{{option}}" matTooltipPosition="right">
                {{option}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>

<!-- (keyup.enter)="log(myControl.value);" (change)="handleEmptyInput($event)" -->