<div class="navbar navbar-default">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">
            <img src="../../../../assets/images/PkLogo.png" width="30" height="30"
                class="d-inline-block align-top" alt="">
        </a>
    </div>
    <div class="nav-toggle">
            <fa-icon *ngIf="toggle" class="slider-icon side-nav-toggle" [icon]="faBars" size="lg" (click)="toggleIcon()"></fa-icon>
            <fa-icon *ngIf="!toggle" class="slider-icon side-nav-toggle" [icon]="faTimes" size="lg" (click)="toggleIcon()"></fa-icon>
    </div>
    <span class="pk-title">
        Communications
    </span>
    <span class="profile">
            <fa-icon class="slider-icon side-nav-toggle" [icon]="faUserCircle" size="lg"></fa-icon>
    </span>
</div>