<div class="navbar navbar-default">
    <div class="navbar-header">
        <a class="navbar-brand" (click)="goToHome()">
            <img src="../../../../assets/images/PkLogo.png" width="30" height="30" class="d-inline-block align-top"
                alt="">
        </a>
    </div>
    <!-- <div class="nav-toggle">
            <fa-icon *ngIf="toggle" class="slider-icon side-nav-toggle" [icon]="faBars" size="lg" (click)="toggleIcon()"></fa-icon>
            <fa-icon *ngIf="!toggle" class="slider-icon side-nav-toggle" [icon]="faTimes" size="lg" (click)="toggleIcon()"></fa-icon>
    </div> -->
    <span class="pk-title" *ngIf="!displaySearch" (click)="goToHome()">
        Communities
    </span>
    <div class="form-search-name" *ngIf="displaySearch">
        <form #searchNameForm>
            <mat-form-field floatLabel="never">
                <input type="text" #searchNameInput matInput [formControl]="myControl"
                    [matAutocomplete]="name" >
                <mat-placeholder class="placeholder">
                    
                    <fa-icon [icon]="faSearch" size="md"></fa-icon>
                    &nbsp;
                    Search by name
                </mat-placeholder>
                <mat-autocomplete autoActiveFirstOption #name="matAutocomplete">
                    <mat-option #searchName (onSelectionChange)="log(option.EmployeeId)"
                        *ngFor="let option of filteredOptions | async" [value]="option.FullName">
                        {{option.FullName}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </form>
    </div>
    <span class="profile" (click)="goToProfile()">
        <fa-icon class="slider-icon side-nav-toggle" [icon]="faUserCircle" size="lg"></fa-icon>
        <span *ngIf="!isMobile" class="pk-title">
            {{userName}}
        </span>
    </span>
    <!-- (click)="goToProfile()" -->
</div>