<div class="community-builder">
    <div class="row">
        <div class="col-lg-9">
            <div class="hero">
                <img class="pk-white-logo" src="../../../../assets/images/PKComm.png" alt="pk white logo">
                <span>COMMUNITY BUILDING</span>
                <span>A new PK digital community is coming Summer 2020</span>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="com-builder-form">
                <p>Commmunity Form</p>
            </div>
        </div>
    </div>
</div>