
  .col-lg-9 {
        background: url('../../../../assets/images/pk-comm-bg.png');
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        background-size: 100% auto;
        height: 20em;
        background-color: #000;
        opacity: 0.9;
        z-index: -2;
  }

  .hero {
    z-index: 1;
    color: #ffffff;
  }

  .com-builder-form {

  }