<div class="employee-info">
        <!-- {{employeeInfoDetails | json}} -->
        <div class="employee-available" *ngIf="!employeeInfoDetails.onProject">
                <div class="row">
                        <div class="col-1">
                                <fa-icon class="slider-icon" [icon]="faCheckCircle" size="md"
                                        [styles]="{'stroke': '#17CB6A', 'color': '#17CB6A'}"></fa-icon>
                        </div>
                        <div class="col-10">
                                <strong> Available for Assignment</strong>
                        </div>
                </div>
        </div>
        <!-- No data in api response -->
        <div class="employee-start-date">
                <div class="row">
                        <div class="col-1">
                                <fa-icon class="slider-icon" [icon]="faCalendar" size="md"></fa-icon>
                        </div>
                        <div class="col-10">
                                <span class="employee-info-key">Hired: </span> 01/2019
                        </div>
                </div>
        </div>
        <div class="employee-location" *ngIf="employeeInfoDetails.city || employeeInfoDetails.state">
                <div class="row">
                        <div class="col-1">
                                <fa-icon class="slider-icon" [icon]="faMapMarkerAlt" size="md"></fa-icon>
                        </div>
                        <div class="col-10">
                                <span class="employee-info-key">Location: </span>
                                <span *ngIf="employeeInfoDetails.city"> {{employeeInfoDetails.city}}</span>
                                <span *ngIf="employeeInfoDetails.state">, {{employeeInfoDetails.state}}</span>
                        </div>
                </div>
        </div>
        <!-- No data in api response -->
        <div class="employee-id" >
                <div class="row">
                        <div class="col-1">
                                <fa-icon class="slider-icon" [icon]="faIdCard" size="md"></fa-icon>
                        </div>
                        <div class="col-10">
                                <span class="employee-info-key">Employee ID: </span> E21000000
                        </div>
                </div>
        </div>
        <!-- No data in api response -->
        <div class="employee-manager">
                <div class="row">
                        <div class="col-1">
                                <fa-icon class="slider-icon" [icon]="faUserCircle" size="md"></fa-icon>
                        </div>
                        <div class="col-10">
                                <span class="employee-info-key">Manager: </span> John Doe
                        </div>
                </div>
        </div>
        <div class="employee-email" *ngIf="employeeInfoDetails.email">
                <div class="row">
                        <div class="col-1">
                                <fa-icon class="slider-icon" [icon]="faEnvelope" size="md"></fa-icon>
                        </div>
                        <div class="col-10">
                                <span class="employee-info-key">Email: </span> {{employeeInfoDetails.email}}
                        </div>
                </div>
        </div>
        <!-- No data in api response -->
        <div class="employee-coe">
                <div class="row">
                        <div class="col-1">
                                <fa-icon class="slider-icon" [icon]="faNewspaper" size="md"></fa-icon>
                        </div>
                        <div class="col-10">
                                <span class="employee-info-key">COE: </span> Product Management
                        </div>
                </div>
        </div>
        <!-- No data in api response -->
        <div class="employee-service-line">
                <div class="row">
                        <div class="col-1">
                                <fa-icon class="slider-icon" [icon]="faNewspaper" size="md"></fa-icon>
                        </div>
                        <div class="col-10">
                                <span class="employee-info-key">Service Line: </span> Engineering
                        </div>
                </div>
        </div>
</div>