<div class="employee-info">
        <div class="employee-available" *ngIf="!employeeInfoDetails.onProject">
                <div class="row">
                        <!-- resourceStatus -->
                        <div class="col-1">
                                <fa-icon class="slider-icon" [icon]="faCheckCircle" size="md"
                                        [styles]="{'stroke': '#17CB6A', 'color': '#17CB6A'}"></fa-icon>
                        </div>
                        <div class="col-10">
                                <strong> {{availValue}}</strong>
                        </div>
                </div>
        </div>
        <div class="employee-start-date" *ngIf="employeeInfoDetails.hiredDate">
                <div class="row">
                        <div class="col-1">
                                <fa-icon class="slider-icon" [icon]="faCalendar" size="md"></fa-icon>
                        </div>
                        <div class="col-10">
                                <span class="employee-info-key">Hired: </span>
                                {{employeeInfoDetails.hiredDate | date : 'mediumDate'}}
                        </div>
                </div>
        </div>
        <div class="employee-start-date" *ngIf="employeeInfoDetails.experienceInYears">
                <div class="row">
                        <div class="col-1">
                                <fa-icon class="slider-icon" [icon]="faUser" size="md"></fa-icon>
                        </div>
                        <div class="col-10">
                                <span class="employee-info-key">Experience: </span>
                                {{employeeInfoDetails.experienceInYears}}
                        </div>
                </div>
        </div>
        <div class="employee-location" *ngIf="employeeInfoDetails.city || employeeInfoDetails.state">
                <div class="row">
                        <div class="col-1">
                                <fa-icon class="slider-icon" [icon]="faMapMarkerAlt" size="md"></fa-icon>
                        </div>
                        <div class="col-10">
                                <span class="employee-info-key">Location: </span>
                                <span *ngIf="employeeInfoDetails.city"> {{employeeInfoDetails.city}}</span>
                                <span *ngIf="employeeInfoDetails.state">, {{employeeInfoDetails.state}}</span>
                                <span *ngIf="employeeInfoDetails.country"> ({{employeeInfoDetails.country}})</span>
                        </div>
                </div>
        </div>
        <div class="employee-id" *ngIf="employeeInfoDetails.employeeId">
                <div class="row">
                        <div class="col-1">
                                <fa-icon class="slider-icon" [icon]="faIdCard" size="md"></fa-icon>
                        </div>
                        <div class="col-10">
                                <span class="employee-info-key">Employee ID: </span> {{employeeInfoDetails.employeeId}}
                        </div>
                </div>
        </div>
        <div>
                        <div class="row">
                                <div class="col-1">
                                        <fa-icon class="slider-icon" [icon]="faAddressCard" size="md"></fa-icon>
                                </div>
                                <div class="col-10">
                                        <span class="employee-info-key">Resource Type: </span> {{ isEmployee ? 'Employee' : 'Contractor'}}
                                </div>
                        </div>
                </div>
        <div class="employee-manager" *ngIf="employeeInfoDetails.manager">
                <div class="row">
                        <div class="col-1">
                                <fa-icon class="slider-icon" [icon]="faUserCircle" size="md"></fa-icon>
                        </div>
                        <div class="col-10">
                                <span class="employee-info-key">Manager: </span> {{employeeInfoDetails.manager}}
                        </div>
                </div>
        </div>
        <div class="employee-email" *ngIf="employeeInfoDetails.primaryEmailAddress">
                <div class="row">
                        <div class="col-1">
                                <fa-icon class="slider-icon" [icon]="faEnvelope" size="md"></fa-icon>
                        </div>
                        <div class="col-10">
                                <span class="employee-info-key">Email: </span>
                                {{employeeInfoDetails.primaryEmailAddress}}
                        </div>
                </div>
        </div>
        <div class="employee-coe" *ngIf="employeeInfoDetails.coe">
                <div class="row">
                        <div class="col-1">
                                <fa-icon class="slider-icon" [icon]="faNewspaper" size="md"></fa-icon>
                        </div>
                        <div class="col-10">
                                <span class="employee-info-key">COE: </span> {{employeeInfoDetails.coe}}
                        </div>
                </div>
        </div>
        <div class="employee-service-line" *ngIf="employeeInfoDetails.serviceLine">
                <div class="row">
                        <div class="col-1">
                                <fa-icon class="slider-icon" [icon]="faNewspaper" size="md"></fa-icon>
                        </div>
                        <div class="col-10">
                                <span class="employee-info-key">Service Line: </span>
                                {{employeeInfoDetails.serviceLine}}
                        </div>
                </div>
        </div>
        <div class="employee-relocate" *ngIf="employeeInfoDetails.willingToRelocate">
                <div class="row">
                        <div class="col-1">
                                <fa-icon class="slider-icon" [icon]="faLuggageCart" size="md"></fa-icon>
                        </div>
                        <div class="col-10">
                                <span class="employee-info-key">Willing To Relocate: </span>
                                {{employeeInfoDetails.willingToRelocate}}
                        </div>
                </div>
        </div>
        <div class="employee-travel" *ngIf="employeeInfoDetails.willingToTravel">
                <div class="row">
                        <div class="col-1">
                                <fa-icon class="slider-icon" [icon]="faPlaneDeparture" size="md"></fa-icon>
                        </div>
                        <div class="col-10">
                                <span class="employee-info-key">Willing To Travel: </span>
                                {{employeeInfoDetails.willingToTravel}}
                        </div>
                </div>
        </div>
        <div class="employee-immigration-status" *ngIf="employeeInfoDetails.immigrationStatus">
                <div class="row">
                        <div class="col-1">
                                <fa-icon class="slider-icon" [icon]="faPassport" size="md"></fa-icon>
                        </div>
                        <div class="col-10">
                                <span class="employee-info-key">Immigration Status: </span>
                                {{employeeInfoDetails.immigrationStatus}}
                        </div>
                </div>
        </div>
        <!-- <div class="employee-service-line">
                <div class="row">
                        <div class="col-1">
                                <fa-icon class="slider-icon" [icon]="faComment" size="md"></fa-icon>
                        </div>
                        <div class="col-10">
                                <span class="employee-info-key">Status Comments: </span>
                                {{employeeInfoDetails.projectComments}}
                        </div>
                </div>
        </div> -->
</div>