<div class="employee-info">
        <div class="employee-available">
                <div class="row">
                        <div class="col-1">
                                <fa-icon class="slider-icon" [icon]="faCheckCircle" size="md"
                                        [styles]="{'stroke': '#17CB6A', 'color': '#17CB6A'}"></fa-icon>
                        </div>
                        <div class="col-10">
                                <strong> Available for Assignment</strong>
                        </div>
                </div>
        </div>
        <div class="employee-start-date">
                <div class="row">
                        <div class="col-1">
                                <fa-icon class="slider-icon" [icon]="faCalendar" size="md"></fa-icon>
                        </div>
                        <div class="col-10">
                                <span class="employee-info-key">Hired: </span> 01/2019
                        </div>
                </div>
        </div>
        <div class="employee-location">
                <div class="row">
                        <div class="col-1">
                                <fa-icon class="slider-icon" [icon]="faMapMarkerAlt" size="md"></fa-icon>
                        </div>
                        <div class="col-10">
                                <span class="employee-info-key">Location: </span> Seattle, WA
                        </div>
                </div>
        </div>
        <div class="employee-id">
                <div class="row">
                        <div class="col-1">
                                <fa-icon class="slider-icon" [icon]="faIdCard" size="md"></fa-icon>
                        </div>
                        <div class="col-10">
                                <span class="employee-info-key">Employee ID: </span> E21000000
                        </div>
                </div>
        </div>
        <div class="employee-manager">
                <div class="row">
                        <div class="col-1">
                                <fa-icon class="slider-icon" [icon]="faUserCircle" size="md"></fa-icon>
                        </div>
                        <div class="col-10">
                                <span class="employee-info-key">Manager: </span> John Doe
                        </div>
                </div>
        </div>
        <div class="employee-email">
                <div class="row">
                        <div class="col-1">
                                <fa-icon class="slider-icon" [icon]="faEnvelope" size="md"></fa-icon>
                        </div>
                        <div class="col-10">
                                <span class="employee-info-key">Email: </span> lswanson@pkglobal.com
                        </div>
                </div>
        </div>
        <div class="employee-coe">
                <div class="row">
                        <div class="col-1">
                                <fa-icon class="slider-icon" [icon]="faNewspaper" size="md"></fa-icon>
                        </div>
                        <div class="col-10">
                                <span class="employee-info-key">COE: </span> Product Management
                        </div>
                </div>
        </div>
        <div class="employee-service-line">
                <div class="row">
                        <div class="col-1">
                                <fa-icon class="slider-icon" [icon]="faNewspaper" size="md"></fa-icon>
                        </div>
                        <div class="col-10">
                                <span class="employee-info-key">Service Line: </span> Engineering
                        </div>
                </div>
        </div>
</div>