.employee-info {
  background: #ffffff;
  border-radius: 5px;
  padding: 25px;

  div {
      padding-bottom: 5px;
  }

  
}

.slider-icon {
    padding-right: 10px;
}

.employee-info-key {
    font-weight: 500;
}