.footer {
  background-color: #202b34;
}

.message {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: #ffffff;
  text-align: center;
  padding: 15px 0px;
}
