<form #skillSearchForm>
    <mat-form-field>
        <input type="text" #searchSkillInput placeholder="Search by skill(s)" matInput [formControl]="myControl"
            [matAutocomplete]="skills">
        <mat-autocomplete autoActiveFirstOption #skills="matAutocomplete"
            (optionSelected)="log($event.option.value); searchSkillInput.value=''">
            <mat-option #skillSearch *ngFor="let option of filteredOptions | async" [value]="option"
                matTooltip="{{option}}" matTooltipPosition="right">
                {{option}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <a href="https://prokarma001.sharepoint.com/Pages/SkillRequestForm.aspx" class="submit-skills"
                        target="_blank" rel="noopener">Can't find a skill?</a>
</form>

<!-- (optionSelected)="log($event.option.value); searchSkillInput.value=''" -->
<!-- (onSelectionChange)="log(option); skillSearch.value=''" -->
<!-- (submit)="skillSearchForm.reset()" -->
<!-- (keyup.enter)="log(myControl.value); searchSkillInput.value=''"  -->